<div class="info">
	<h1><strong> Branches of Government </strong> </h1>

	<% @branches.order(:id).each do |branch| %>
		<h3 class="branchname"><%= link_to( branch.name, branch ) %></h3>
	<% end %>
</div>