
<div class="info">
	<h1>HOME</h1>
	<ul>
		<div class="firstcircle">
			<p><%= link_to (image_tag "Parliament_of_Finland1.jpg", :class => "polindex"), branches_path %></p>
		</div>
		<div class="secondcircle">
			<p><%= link_to "Parties", parties_path %></p>
		</div>
		<div class="thirdcircle">
			<p><%= link_to "Politicians", politicians_path %></p>
		</div>
	</ul>
</div>




