<h1> HOME </h1>


<ul>
	<li><%= link_to "Branches of Government", branches_path %></li>
	<li><%= link_to "Politicians", politicians_path %></li>
	<li><%= link_to "Parties", parties_path %></li>
</ul>





