<div class="info">
	<h1>HOME</h1>
	<ul>
		<p><%= link_to "Branches of Government", branches_path %></p>
		<p><%= link_to "Politicians", politicians_path %></p>
		<p><%= link_to "Parties", parties_path %></p>
	</ul>
	<%= image_tag "Flag_of_Finland.svg.png", :class => "homeflag" %>
</div>




