
<div class="info">
	<h1>Finnish Politics Education Site</h1>
	<div class="panel">
		<div class="homelink">
			<h3><a href="/branches">Parliament<span class="link-spanner"></span></a><h3>
		</div>
		<%= link_to (image_tag "Parliament_of_Finland1.jpg"), branches_path %>
	</div>
	<div class="panel">
		<div class="homelink">
			<h3><a href="/parties">Parties<span class="link-spanner"></span></a></h3>
		</div>
		<%= link_to (image_tag "parliament.jpg"), parties_path %>
	</div>
	<div class="panel">
		<div class="homelinker">
			<h3><a href="/politicians">Politicians<span class="link-spanner"></span></a></h3>
		</div>
		<p><%= link_to (image_tag "sauli.jpg"), politicians_path %></p>
	</div>
</div>




