// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background: linear-gradient(to bottom, rgba(0, 53, 128, 1),  rgba(0, 0, 0, 0));
	max-height: 80em;
}

.info {
	max-height: 1000px;
	background-color: white;
	margin: 3em 10em 10em 10em;
	height: 100%;
	padding: 3em;
}
