// Place all the styles related to the Parties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


 

 body {
 	text-align: center;

 	
 }

 a.navlinks {
 	padding: 0.50em;
 	top: 0px;
 	text-decoration: none;
 }

 .navbar {
 	position: fixed;
 	background-image: url("navbar.gif");
 	width: 100%;
 	height: 35px;
 	top: 0px;
 	left: 0px;
 	text-align: center;
 	color: white;
 	font-size: 1.27em;
 	box-shadow: -1px 3px 19px #555F6E;
 }

 img.miniflag {
 	max-height: 35.5px;
 }
