<div class="info">
	<h1> All Politicians </h1>

	<% @politicians.order(:id).each do |politician| %>
		<p>
			<%= link_to (image_tag "#{ politician.image }", :class => "polindex"), politician_path(politician.id) %>
		</p>
		<p>
			<%= link_to "#{ politician.name } (#{ politician.role })", politician_path(politician.id)  %>
		</p>
	<% end %>
</div>

